Checks: >
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*

WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "^[A-H][1-8]$|^to$"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "^to$"
