Checks: >
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*

WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "^(sq|to|from|bb|us|A[1-8]|B[1-8]|C[1-8]|D[1-8]|E[1-8]|F[1-8]|G[1-8]|H[1-8])$"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "^(sq|to|from|bb|us)$"
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: "^(r|f)$"
