# .github/workflows/build-windows.yml
name: Windows Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
          C:\vcpkg\bootstrap-vcpkg.bat -disableMetrics

      - name: Configure CMake
        run: cmake --preset msvc_debug
        env:
          VCPKG_ROOT: C:\vcpkg

      - name: Build
        run: cmake --build --preset msvc_debug

      - name: Test
        run: ctest --preset msvc_debug
